body {
    display: flex;
    background-color: hsl(217, 54%, 11%);
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    height: 100vh;
}

.container {
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-top: 30px;
    width: 350px;
    box-shadow: 30px 30px 30px black;
}

.img {
    position: relative;
}

.hover {
    position: absolute;
    top: 0%;
    right: 14%;
    display: none;
    background-color: cyan;
    opacity: 50%;
    padding: 135px;
    border-radius: 10px;
    z-index: 200;
    transition: 2s ease-in;
}

.hover-img {
    width: 10%;
}

.img:hover > .hover{
    display: block;
}

.img img{
    width: 300px;
    border-radius: 10px;
}

.img img:hover {
    color: hsl(178, 100%, 50%);
    z-index: 20;
    cursor: pointer;
}


h2 {
    color: white;
    text-align: left;
}

h2:hover {
    color: cyan;
    cursor: pointer;
}

h2:active {
    color: cyan;
    cursor: pointer;
}

p {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

.price {
    color:  hsl(178, 100%, 50%);
    font-size: 16px;
}

.time {
    color:hsl(215, 51%, 70%);
    font-synthesis: 16px;
}

hr {
    width: 300px;
    background-color: hsl(215, 32%, 27%);
    margin-right: 80px;
}

.footer {
    display: flex;
    align-items: center;
}

.footer img {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 10px;
}

.footer h3 {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

.footer a {
    text-decoration: none;
    font-size: 18px;
}

.footer a:hover{
    cursor: pointer;
    color: cyan;
}

.footer a:active{
    cursor: pointer;
    color: cyan;
}

.attribution { font-size: 11px; text-align: center; color: white; }

a { 
color: hsl(228, 45%, 44%);
    }





